<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>MentorGuild</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="site-header">
        <img src="assets/icons/mentorguilldlogo.png" alt="MentorGuild Logo" class="logo" />
    </header>
    <main class="container">
        <h1 class="title">MentorGuild</h1>
        <p class="subtitle">
            A fun, interactive website filled with lessons and activities to help you learn about Cybersecurity Concepts!
        </p>

        <!--Button to take user to the lessons page-->
        <a href="./lessons/lessons.html" class="start-button">
            Start Learning Now!
        </a>

        <section class="features">
            <h2>MentorGuild offers:</h2>
            <ul>
                <li>Fandom-powered learning</li>
                <li>Useful skills in the Cybersecurity field</li>
                <li>Game-like progression with funny memes</li>
            </ul>
        </section>
    </main>
</body>
</html>